body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
}

#homeContainer{
  background-image: url('./images/homeBack.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-top: -60px;
}

#homeContainer .item {
  flex-basis: 440px;
  height: 600px;
  margin: 5px;
  text-align: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
}

#quiz-card-container{
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(223, 227, 244);
}

#option{
  width: 50%;
  padding: 5px 10px;
  /* word-break: break-all; */
  /* inline-size: 150px; */
 }
 
 #option-btn{
  overflow-wrap: break-all;
  overflow-x: hidden;
  /* hyphens: manual; */
  width: 100%;
  border-color: rgb(233, 233, 233);
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
 }


@media screen and (max-width: 1318px) {
  #homeBackImg {
    width: 700px;
  }
}

@media screen and (max-width: 1170px) {
  #homeBackImg {
    width: 650px;
  }
}

@media screen and (max-width: 1130px) {
  #homeBackImg {
    width: 600px;
  }
}

@media screen and (max-width: 1090px) {
  #homeBackImg {
    width: 500px;
  }
}

@media screen and (max-width: 982px) {
  #homeBackImg {
    width: 450px;
  }
  #frontText{
    margin-left: 30px;
  }
}

@media screen and (max-width: 800px) {
  #homeBackImg {
    width: 450px;
  }
  #frontText{
    margin-left: 30px;
  }
}

@media screen and (max-width: 750px) {
  #homeBackImg {
    width: 400px;
  }
  #frontText{
    margin-left: 30px;
  }
}

@media screen and (max-width: 650px) {
  #homeBackImg {
    width: 350px;
  }
  #frontText{
    margin-left: 30px;
  }
}

@media screen and (max-width: 550px) {
  #homeBackImg {
    width: 300px;
  }
  #frontText{
    margin-left: 30px;
  }
}

@media screen and (max-width: 460px) {
  #homeBackImg {
    width: 300px;
  }
  #frontText{
    margin-left: 0;
  }
  #homeContainer{
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    justify-content: center;
    margin-top: -10px;
  }
  
  #homeContainer .item {
    flex-basis: 10px;
    height: 250px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
  }
}


@media screen and (max-width: 520px) {
  #quiz-question{
    font-size: 20px;
  }
}


@media screen and (max-width: 450px) {
  #quiz-question{
    font-size: 15px;
  }
  #option{
   display: block;
   width: 100%;
   margin-top: 0;
  }
  #quiz-question-container{
    margin-top: -30px;
    margin-bottom: -30px;
  }
  #quiz-title{
    display: none;
  }
  #quiz-card-container{
    margin-top: -30px;
  }
}

@media screen and (max-width: 570px) {
  #all-quizes-card{
    width: 100%;
    height: auto;
  }
  #all-quizes-card Col{
    width: 100%;
    height: 10px;
  }
  #all-quizes-card img{
    width: 90%;
  }
}
